<!--include head-->
<%-include('include/_head')%>
</head>
<!--/include head--> 
<body>
<!--include header-->
<%-include('include/_header')%>
<!--/include header-->   
    <main class="margined">
        about
    </main>
    <!--include footer-->
    <%-include('include/_footer')%> 
    <!--/include footer-->
</body>
</html>