<!--include head-->
<%-include('include/_head')%>
</head>
<!--/include head--> 
<body>
<!--include header-->
<%-include('include/_header')%>
<!--/include header-->   
    <main class="margined">
<p>
<strong>Mmm, ...cookies?</strong><br><br>
Cookies, a small data string our server writes to your computer, are used on DealDekko for saving your password and login information, displaying content based on your interests, and keeping track of which deals you may not have seen yet. That is all.<br>
You may be able to refuse the use of cookies by selecting the appropriate settings on your browser which may disable some features, but hey, your computer, your rules.<br><br><br>
<strong>Do Third Parties Collect My Cookies?</strong><br><br>
Most likely, yes. When you click on a deal and direct out of our site, please refer to the cookie information listed on that site.
</p>
    </main>
    <!--include footer-->
    <%-include('include/_footer')%> 
    <!--/include footer-->
</body>
</html>