
<!--include header-->
<%-include('include/_header')%>
<!--/include header-->   
 <aside class="short_banner">Some text in the banner.</aside>
    <aside class="banner margined"></aside>
    <main class="margined">
            <h1>Daily Dekko</h1>
            <div class="deal-container">
 
                <%-include('include/_show')%>

            </div>
    </main>
<!--include footer-->
<%-include('include/_footer')%> 
<!--/include header-->