<!--include head-->
<%-include('include/_head')%>
</head>
<!--/include head--> 
<body>
<!--include header-->
<%-include('include/_header')%>
<!--/include header-->   
    <main class="margined">
        <p>
        <strong>Are we going to steal your inforamtion for some corporate scheme?</strong><br><br>No.<br><br>At DealDekko, we don't believe in data collecting as a means of influencing your decisions. We strictly believe in finding you a deal when you want it. If you register, we will only use your information for login purposes, unless you explicitly mark that you would like to receive notifications to keep up with the best deals on the internet. Note that if you log in via a third-party service such as Facebook or Google, we will collect the information described in the third-party service’s request. This information may include your name, email address, gender, city, and state. Review your privacy settings with these third-party services to be sure you are only sharing information you wish to share. As stated before, the information provided to us won't be used for solicitation or manipulation nor will it be sold off to the highest bidder. You're safe here.<br><br><br>
        <strong>What about cookies?</strong><br><br>Only reason we will collect cookies is so we can keep you logged in, prioritize the deals you may be more interested in, and tell you which deals are brand-spanking new. That is all. We aren't after you secrets. We promise. Please see more information on our <a href="cookie-policy"><em>cookie policies</em></a> page.
    
    </p>
    </main>
    <!--include footer-->
    <%-include('include/_footer')%> 
    <!--/include footer-->
</body>
</html>