<footer>
    <div id="footer-container-top">
        <div id='mobile-selection'>
            <h2 id='mobile-selection-1'>Follow Us</h2>
            <h2 id='mobile-selection-2'  style="display:none !important;">About</h2>
            <h2 id='mobile-selection-3'>Privacy</h2>
            <h2 id='mobile-selection-4' style="display:none !important;">Download The App!</h2>
        </div>
        <section id='section-1'>
            <h2>Follow Us</h2>
            <a class="follow-images" href="https://www.youtube.com/channel/UCNinKpgb7Q-_anvbzq-WiIQ" target="_blank"><img src="/img/icons/youtube_white.svg"><span>YouTube</span></a>
            <a class="follow-images" href="https://twitter.com/DealDekko" target="_blank"><img src="/img/icons/twitter_white.svg"><span>Twitter</span></a>
            <a class="follow-images" href="https://www.facebook.com/DealDekko-100451858855885/" target="_blank"><img src="/img/icons/facebook_white.svg"><span>Facebook</span></a>
            <a style="visibility: hidden !important;" class="follow-images" href="https://instagram.com" target="_blank"><img src="/img/icons/instagram_white.svg"><span>Instagram</span></a>        </section>
        <section id='section-2'  style="display:none !important;">
            <h2>About</h2>
            <a href="about">About Us</a>
            <a href="contact">Contact Us</a>
        </section>
        <section id='section-3'>
            <h2>Privacy</h2>
            <a href="privacy-info">Privacy Info</a>
            <a href="cookie-policy">Cookie Policy</a>
        </section>
        <section class="footer-filler"></section>
        <section id='section-4' style="display:none !important;">
            <h2>Download The App!</h2>
            <a href="https://google.com" target="_blank">Android</a>
            <a href="https://apple.com" target="_blank">Apple</a>
        </section>
        <section class="footer-filler"></section>
    </div>
    <div id="footer-container-bottom">
        <div class="logo-container">
            <a href="/"><img src="/img/sucs/succ_logo.svg"></a>
            <a href="/">
                <h1>DealDekko</h1>
            </a>
        </div>
        <h3>Copyright 2021. DealDekko, LLC. All Rights Reserved.</h3>
    </div>
</footer>
<script src="/js/form-functions.js"></script>
<!-- remove this -->
<script type="text/javascript" src="http://classic.avantlink.com/affiliate_app_confirm.php?mode=js&authResponse=b8e24e83ed84a5766417d10ffd35ce9a1dadb873"></script>