
<footer>
    <div id="footer-container-top">
    <section>
        <h2>Follow Us</h2>
        <a href="https://youtube.com" target="_blank">Youtube</a>
        <a href="https://twitter.com" target="_blank">Twitter</a>
        <a href="https://facebook.com" target="_blank">Facebook</a>
        <a href="https://instagram.com" target="_blank">Instagram</a>
</section>
<section>
    <h2>About</h2>
    <a href="about" target="_blank">About Us</a>
    <a href="contact" target="_blank">Contact Us</a>
</section>
<section>
    <h2>Privacy</h2>
    <a href="privacy-info" target="_blank">Privacy Info</a>
    <a href="cookie-policy" target="_blank">Cookie Policy</a>
</section>
<section></section>
<section>
    <h2>Download The App!</h2>
    <a href="https://google.com" target="_blank">Android</a>
    <a href="https://apple.com" target="_blank">Apple</a>
</section>
<section></section>
</div>
<div id="footer-container-bottom">
    <div class="logo-container">
        <a href="/"><img src="/img/sucs/succ_logo.svg"></a>
            <a href="/"><h1>DealDekko</h1>
        </a>
    </div>
    <h3>Copyright 2021. DealDekko, LLC. All Rights Reserved.</h3>
</div>
</footer>
<script src="/js/form-functions.js"></script>


