
<!--include header-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DealDekko</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="overlay" class="hidden">
        <div id="overlay-content"></div>
    </div>
    <header id="header">
        <div class="margined">
            <div class="header-top">
                <div class="header-top-left">
                    <img src="/img/sucs/succ_logo.svg">
                    <h1>DealDekko</h1>
                </div>
                <div class="header-top-middle"></div>
                <div class="header-top-right">
                    <img id='header_plant' src="/img/sucs/succ_2.svg">
                    <a href="https://youtube.com" target="_blank"><img src="/img/icons/youtube.svg"></a>
                    <a href="https://twitter.com" target="_blank"><img src="/img/icons/twitter.svg"></a>
                    <a href="https://facebook.com" target="_blank"><img src="/img/icons/facebook.svg"></a>
                    <a href="https://instagram.com" target="_blank"><img src="/img/icons/instagram.svg"></a>
                </div>
            </div>
            <hr>
        <div class="categories">
            <a href="./category">All Categories</a>
            <a href="./category?cat=beauty.makeup">Beauty and Makeup</a>
            <!-- <a href="./category?cat=makeup">Makeup</a> -->
            <a href="./category?cat=videogame">Video Games</a>
            <a href="./category?cat=clothing">Clothing</a>
            <a href="./category?cat=electronics.movies.computers.tablets.phones.audio">Electronics</a>
            <a href="./category?cat=health.sports">Health and Fitness</a>
            <a href="./category?cat=pets">Pets</a>
            <a href="./category?cat=foodandgrocery">Food and Grocery</a>
            <a href="./category?cat=outdoors">Outdoors</a>
            <a href="./category?cat=toys">Toys</a>
            <a href="./category?cat=photography">Photography</a>
            <a href="./category?cat=tools">Tools</a>
            <a href="./category?cat=automotive">Automotive</a>
            <a href="./category?cat=glasses">Glasses</a>
            <a href="./category?cat=home">Home</a>
            <a href="./category?cat=movies">Movies</a>
            <a href="./category?cat=travel">Travel</a>
            <a href="./category?cat=games">Games</a>
            <a href="./category?cat=free">Free Stuff</a>
            <a href="./category?cat=sports">Sports</a>
            <a href="./category?cat=books">Books</a>
            <a href="./category?cat=music">Music</a>
            <a href="./category?cat=art">Art</a>
            <a href="./category?cat=giftcards">Gift Cards</a>
            <a href="./category?cat=garden">Garden</a>
            <a href="./category?cat=baby">Baby</a>
            <a href="./category?cat=shoes">Shoes</a>
            <a href="./category?cat=crafts">Crafts</a>
            <a href="./category?cat=digital">Digital</a>
            <a href="./category?cat=handmade">Handmade</a>
            <a href="./category?cat=services">Services</a>
            <a href="./category?cat=audio">Audio</a>
            <a href="./category?cat=phones">Phones</a>
            <a href="./category?cat=tablets">Tablets</a>
            <a href="./category?cat=computers">Computers</a>
            <a href="./category?cat=televisions">TVs</a>
            <a href="./category?cat=software">Software</a>
            <a href="./category?cat=other">Other</a>
        </div>
    </div>
</header>