<body>
    <header>
        <div class="margined">
            <div class="header-top">
                <div class="header-top-left">
                    <a href="/"><img src="/img/sucs/succ_5.svg"></a>
                        <a href="/"><h1>DealDekko</h1>
                    </a>
                </div>
                <div class="header-top-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
                        <symbol xmlns="http://www.w3.org/2000/svg" id="sbx-icon-search-6" viewBox="0 0 40 40">
                          <path d="M28.295 32.517c-2.93 2.086-6.51 3.312-10.38 3.312C8.02 35.83 0 27.81 0 17.914 0 8.02 8.02 0 17.915 0 27.81 0 35.83 8.02 35.83 17.915c0 3.87-1.227 7.45-3.313 10.38l6.61 6.61c1.166 1.165 1.163 3.057 0 4.22-1.167 1.167-3.057 1.167-4.226-.002l-6.605-6.606zm-10.38.326c8.245 0 14.928-6.683 14.928-14.928 0-8.245-6.683-14.93-14.928-14.93-8.245 0-14.93 6.685-14.93 14.93 0 8.245 6.685 14.928 14.93 14.928zm0-26.573c-6.43 0-11.645 5.214-11.645 11.645 0 .494.4.895.896.895.495 0 .896-.4.896-.895 0-5.442 4.41-9.853 9.853-9.853.494 0 .895-.4.895-.896 0-.495-.4-.896-.895-.896z"
                          fill-rule="evenodd" />
                        </symbol>
                        <symbol xmlns="http://www.w3.org/2000/svg" id="sbx-icon-clear-5" viewBox="0 0 20 20">
                          <path d="M10 20c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10zm1.35-10.123l3.567 3.568-1.225 1.226-3.57-3.568-3.567 3.57-1.226-1.227 3.568-3.568-3.57-3.57 1.227-1.224 3.568 3.568 3.57-3.567 1.224 1.225-3.568 3.57zM10 18.272c4.568 0 8.272-3.704 8.272-8.272S14.568 1.728 10 1.728 1.728 5.432 1.728 10 5.432 18.272 10 18.272z"
                          fill-rule="evenodd" />
                        </symbol>
                      </svg>
                      
                      <form id="searchbox" novalidate="novalidate" onsubmit="return false;" class="searchbox sbx-custom">
                        <div role="search" class="sbx-custom__wrapper">
                          <input type="search" name="search" placeholder="search" autocomplete="off" required="required" class="sbx-custom__input">
                          <button id="searchbutton" type="submit" title="Submit your search query." class="sbx-custom__submit">
                            <svg role="img" aria-label="Search">
                              <use xlink:href="#sbx-icon-search-6"></use>
                            </svg>
                          </button>
                          <button type="reset" title="Clear the search query." class="sbx-custom__reset">
                            <svg role="img" aria-label="Reset">
                              <use xlink:href="#sbx-icon-clear-5"></use>
                            </svg>
                          </button>
                        </div>
                      </form>
                </div>
                <div class="header-top-right">
                    <a href="https://www.youtube.com/channel/UCNinKpgb7Q-_anvbzq-WiIQ" target="_blank"><img src="/img/icons/youtube.svg"></a>
                    <a href="https://twitter.com/DealDekko" target="_blank"><img src="/img/icons/twitter.svg"></a>
                    <a href="https://www.facebook.com/DealDekko-100451858855885/" target="_blank"><img src="/img/icons/facebook.svg"></a>
                    <a style="visibility: hidden !important;" href="https://instagram.com" target="_blank"><img src="/img/icons/instagram.svg"></a>
                </div>
            </div>
            <hr>
            <div class="show-cat-mobile"><image src="/img/icons/menu.svg"><span>Daily Deal Sites</span></div>
        <div class="categories">
<a id="allDealsOption">View All</a>
<a href="https://www.adorama.com/g/dailydeals" target="_blank">ADORAMA</a>
<a href="https://www.amazon.com/gp/goldbox/?tag=vamplitude-20" target="_blank">AMAZON</a>
<a href="https://www.bhphotovideo.com/c/search?Ntt=Daily%20Deal&N=0&InitialSearch=yes&ap=Y&gclid=CjwKCAjwoZWHBhBgEiwAiMN66aYsuPOrq8YRnVpDab67Srp9LYxIMgGDUr6zNSQh1tOqHMimCuZczRoCYzYQAvD_BwE" target="_blank">B&H PHOTO VIDEO</a>
<a href="https://bestbuy.7tiv.net/Ea90d2" target="_blank">BEST BUY</a>
<a href="https://www.ebay.com/deals?mkcid=1&mkrid=711-53200-19255-0&siteid=0&campid=5338802310&customid=&toolid=10001&mkevt=1" target="_blank">EBAY</a>
<a href="https://www.etsy.com/market/deal_of_the_day" target="_blank">ETSY</a>
<a href="https://click.linksynergy.com/deeplink?id=NCwsJ5vO624&mid=24348&murl=https%3A%2F%2Fwww.gamestop.com%2Fdeals%2Fdeal-of-the-day" target="_blank">GAMESTOP</a>
<a href="https://www.gamenerdz.com/deal-of-the-day" target="_blank">GAME NERDZ</a>
<a href="https://www.groupon.com/landing/deal-of-the-day" target="_blank">GROUPON</a>
<a href="https://www.harryanddavid.com/h/promotions/deal-of-the-day" target="_blank">HARRY & DAVID</a>
<a href="https://www.homedepot.com/SpecialBuy/SpecialBuyOfTheDay" target="_blank">HOME DEPOT</a>
<a href="https://surprise.katespade.com/deals/deal-of-the-day" target="_blank">KATE SPADE</a>
<a href="https://www.lowes.com/l/daily-deals.html" target="_blank">LOWES</a>
<a href="https://www.macys.com/shop/sale/Special_offers/Deal%20of%20the%20Day?id=3536" target="_blank">MACYS</a>
<a href="https://www.manning.com/dotd" target="_blank">MANNING BOOKS</a>
<a href="https://www.musiciansfriend.com/stupid?N=500554" target="_blank">MUSICIAN'S FRIEND</a>
<a href="https://www.overstock.com/Flash-Deals,/sale,/results.html?cid=52085&kid=43700042940384294&tid=HP:S2DailyDeals&track=psggl" target="_blank">OVERSTOCK</a>
<a href="https://www.rei.com/rei-garage/deal-of-the-day" target="_blank">REI</a>
<a href="https://www.target.com/c/top-deals/-/N-4xw74?lnk=dNav_topdeals" target="_blank">TARGET</a>
<a href="https://www.tigerdirect.com/sectors/category/deal-of-the-day.asp" target="_blank">TIGER DIRECT</a>
<a href="https://www.walmart.com/browse/daily-deals/c2hlbGZfaWQ6NTIyOTQzNAieie" target="_blank">WALMART</a>
<a href="https://www.zumiez.com/combo/deal-of-the-day/" target="_blank">ZUMIEZ</a>
<!-- <a href="" target="_blank">BLANK</a> -->

<!-- These are the category pages. Site redesign makes these obsolete. -->
<!-- <a id="allDealsOption">All Deals</a>
<a href="./category?cat=computers.PCs.Laptops.Software.Monitors&title=computer">Computer</a>
<a href="./category?cat=phones.tablets&title=phones%20and%20tablets">Phones & Tablets</a>
<a href="./category?cat=personalcare&title=personal%20care">Personal Care</a>
<a href="./category?cat=foodandgrocery&title=food%20and%20grocery">Food & Grocery</a>
<a href="./category?cat=sports.fitness.health&title=health%20and%20fitness">Health & Fitness</a>
<a href="./category?cat=beauty.makeup&title=beauty%20and%20makeup">Beauty & Makeup</a>
<a href="./category?cat=home.kitchen.garden.bathroom.furniture.coffee.televisions.security.office&title=home%20and%20garden">Home & Garden</a>
<a href="./category?cat=electronics&title=electronics">Electronics</a>
<a href="./category?cat=clothing.shoes.jewelry&title=clothings%20and%20shoes">Clothing & Shoes</a>
<a href="./category?cat=glasses&title=glasses">Glasses & Sunglasses</a>
<a href="./category?cat=outdoors.camping.fishing.travel&title=outdoor%20and%20camping">Outdoor & Camping</a>
<a href="./category?cat=movies&title=movies">Movies</a>
<a href="./category?cat=arts.crafts.homemade&title=arts%20and%20crafts">Arts & Crafts</a>
<a href="./category?cat=office&title=office">Office</a>
<a href="./category?cat=giftcards.discounts.coupon&title=giftcards%20and%20discounts">Giftcards & Discounts</a>
<a href="./category?cat=holiday&title=holiday">Holiday</a>
<a href="./category?cat=videogames&title=videogames">Videogames</a>
<a href="./category?cat=shoes&title=shoes">Shoes</a>
<a href="./category?cat=tools&title=tools">Tools</a>
<a href="./category?cat=automotive&title=automotive">Automotive</a>
<a href="./category?cat=free&title=free">Free Stuff</a> -->
        </div>
    </div>
</header>