<div id="vendorList">
    <div class="vendor-arrow-container">
        <img class="vendor-arrow vendor-back" src="/img/icons/arrow_left.svg"/>
        <img class="vendor-arrow vendor-forward" src="/img/icons/arrow_right.svg"/>
    </div>
    <div id="vendors-container">
        <div class="vendors-item">
        <h3>Amazon</h3>
            <a href="https://www.amazon.com/gp/goldbox/?tag=vamplitude07-20" target="_blank">
                <img src="/img/vendors/amazon-daily.jpeg" alt="amazon" />
            </a>
        </div>
        <div class="vendors-item">
            <h3>GameStop</h3>
            <a href="https://click.linksynergy.com/deeplink?id=NCwsJ5vO624&mid=24348&murl=https%3A%2F%2Fwww.gamestop.com%2Fdeals%2Fdeal-of-the-day" target="_blank">
                <img src="/img/vendors/gamestop-daily.jpeg" alt="gamestop" />
            </a>
        </div>
        <div class="vendors-item">
            <h3>eBay</h3>
            <a href="https://www.ebay.com/deals?mkcid=1&mkrid=711-53200-19255-0&siteid=0&campid=5338802310&customid=&toolid=10001&mkevt=1" target="_blank">
                <img src="/img/vendors/ebay-daily.jpeg" alt="ebay" />
            </a>
        </div>
        <div class="vendors-item">
            <h3>Best Buy</h3>
            <a href="https://bestbuy.7tiv.net/Ea90d2" target="_blank">
                <img src="/img/vendors/bestbuy-daily.png" alt="best buy" />
            </a>
        </div>
        <div class="vendors-item">
            <h3>Target</h3>
            <a href="https://www.target.com/c/top-deals/-/N-4xw74?lnk=dNav_topdeals" target="_blank">
                <img src="/img/vendors/target-daily.png" alt="target" />
            </a>
        </div>
        <div class="vendors-item">
            <h3>Walmart</h3>
            <a href="https://www.walmart.com/browse/daily-deals/c2hlbGZfaWQ6NTIyOTQzNAieie" target="_blank">
                <img src="/img/vendors/walmart-daily.png" alt="walmart" />
            </a>
        </div>
        <div class="vendors-item">
            <h3>REI</h3>
            <a href="https://www.rei.com/rei-garage/deal-of-the-day" target="_blank">
                <img src="/img/vendors/rei-daily.png" alt="r e i" />
            </a>
        </div>




    </div>
</div>