$color: #00a89a;

$bgColor: #fff;

//palette origin
$paletteOne: #40e0d0;

//small switch palette
$ssTwo: #d3e7dd;
$ssThree: #438367;

//natural palette
$nTwo: #559d94;
$nOne: #eefcfa;
$nThree: #e8f3f1;

//strike
$strikeColor: #a62091;