@use 'colors' as colors;

/**
    DESKTOP STYLES
*/
@media only screen and (min-width: 576px) {
    main {
        margin: 0;
        overflow: hidden;
        h1 {
            width: 100vw;
            overflow: hidden;
        }
    }

    #overlay {
        overflow: hidden;
        .deal-content {
            background-color: white;
            border-radius: 10px;
        }
        .deadDeal {
            background-color: colors.$ssTwo;
            border-radius: 10px;
        }
    }
    .deals-container {
        display: inline-block;
        width: 90vw;
        margin: 0;
        overflow: hidden;
        cursor: pointer;

        .deal-content {
            min-width: 320px;
            min-height: 25vw;
            padding: 0 10px;
            overflow: visible;

            .content-image {
                width: 25vw;
                height: 25vw;
                max-width: 220px;
                max-height: 220px;
                padding: 10px;
                float: left;
            }

            .title-content {
                padding: 10px;
                overflow: hidden;

                .title-text {
                    overflow: scroll;
                    font-size: 1rem;
                }
            }

            .price-likes-dead-container {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;

                > * {
                    text-align: center;
                }
                .price-container {
                    flex-grow: 1;
                    display: flex;
                    justify-content: center;
                    overflow-x: scroll;

                    .money-one {
                        font-size: 1.25rem;
                    }
                    .money-two {
                        font-size: 0.9rem;
                        color: colors.$strikeColor;
                    }
                }
                .likes-container {
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    img {
                        width: 35px;
                    }
                    label {
                        font-size: 1rem;
                    }
                    label::after {
                        content: " likes";
                    }
                }

                .dead-container {
                    display: none;
                }
                .vendor {
                    flex-grow: 1;
                    font-size: 1rem;
                }
            }
            .link {
                display: none;
            }
            .details {
                display: none;
            }
        }
        hr {
            display: block;
            width: 95vw;
            margin: 0;
            margin-left: 2.5vw;
        }
        .deadDeal {
            img {
                background-color: colors.$ssTwo;
            }
            .dead-container {
                flex-grow: 1;
                display: flex !important;
                align-items: center;
                cursor: pointer;
                font-size: 0.7rem;

                img {
                    width: 25px;
                    margin-right: 1vw;
                }
                label {
                    font-size: 0.7rem;
                }
            }
            .vendor {
                display: none;
            }
        }
    }
    // OVERLAY
    #overlay {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.95);
        display: none;
        z-index: 1;
        padding: 60px 20px;

        #overlay-content {
            width: 100%;
            height: 100%;
            padding:20px;
            overflow: scroll;
            cursor: default;

            .overlay-row {
                display: block;
                height: 100%;
                align-items: center;
                > * {
                    padding: 1vw;
                }
            }

            .content-image {
                display: block;
                margin: auto;
                padding: 20px;
                width: 240px;
                height: 240px;
            }

            .title-content {
                width: 100%;
                display: block;
                text-align: center;
                font-size: 1.3rem;
            }
            .price-likes-dead-container {
                margin: 2vh 1vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                > * {
                    text-align: center;
                }

                .price-container {
                    flex-grow: 1;
                    display: flex;
                    justify-content: center;
                    .money-one {
                        font-size: 1.5em;
                    }
                    .money-two {
                        font-size: 1em;
                        color: colors.$strikeColor;
                    }
                }

                .likes-container {
                    flex-grow: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    img {
                        width: 30px;
                    }
                    label {
                        font-size: 1 em;
                        margin-left: 5px;
                    }
                    label::after {
                        content: " likes";
                    }
                }
                .dead-container {
                    flex-grow: 1;
                    text-align: center;
                    font-size: 0.7em;
                    cursor: pointer;
                    img {
                        width: 20px;
                        margin: 0 auto;
                        display: block;
                        text-align: center;
                    }
                    label {
                        width: 100%;
                        display: block;
                        font-size: 0.5em;
                        text-align: center;
                    }
                }
                .vendor {
                    flex-grow: 1;
                    font-size: 1rem;
                }
            }
            .link-container {
                width: 96%;
                margin-left: 2%;
                margin-bottom:20px;
                height: 5vh;
                box-shadow: 0px 10px 14px -7px #276873;
                background: linear-gradient(to bottom, #40e0d0 5%, #00a89a 100%);
                background-color: #40e0d0;
                border-radius: 50px;
                font-weight: bold;
                text-decoration: none;
                text-shadow: 0px 1px 0px #3d768a;

                .link {
                    color: white;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .details {
                width: 100%;
                padding: 2vw;
                display: block;
                text-align: center;
                font-size:.8em;

                a {
                    text-decoration: wavy;
                    color: colors.$strikeColor;
                    padding:0;
                }
                p {
                    font-size: 0.85em;
                }
            }
        }
    }

    hr {
        display: block;
        width: 95vw;
        margin: 0;
        margin-left: 2.5vw;
    }
}
