/**
    UNIVERSAL STYLES
*/
main {
  margin: 0;
  overflow: hidden;
}
main h1 {
  width: 100vw;
  overflow: hidden;
}

#overlay {
  width: 100vw;
  overflow: hidden;
}

/**
    DESKTOP STYLES
*/
@media only screen and (min-width: 576px) {
  .deals-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 350px;
    grid-column-gap: 75px;
    grid-row-gap: 50px;
    justify-content: space-between;
    text-align: center;
    min-height: 50vh;
  }
}
@media only screen and (min-width: 576px) and (max-width: 650px) {
  .deals-container {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}
@media only screen and (min-width: 576px) {
  .deal-content {
    max-height: 350px;
    cursor: pointer;
  }
  .deal-content * + * {
    text-align: initial;
  }
  .deal-content .content-image {
    width: 180px;
    height: 180px;
  }
  .deal-content .price-likes-container {
    overflow: hidden;
    margin: auto;
    text-align: center;
  }
  .deal-content .price-likes-container .price-container {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
  }
  .deal-content .price-likes-container .price-container .money-one {
    font-size: 1.5em;
  }
  .deal-content .price-likes-container .price-container .money-two {
    font-size: 1em;
    margin-left: 5px;
    color: #a62091;
  }
  .deal-content .price-likes-container .likes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .deal-content .price-likes-container .likes-container img {
    width: 25px;
  }
  .deal-content .price-likes-container .likes-container label {
    margin-left: 5px;
    font-size: 0.8 em;
  }
  .deal-content .title-content {
    overflow: hidden;
    max-height: 130px;
  }
  .deal-content .title-content .title-text {
    max-height: 105px;
    overflow: hidden;
    margin-bottom: 0;
  }
  .deal-content .details,
.deal-content .link,
.deal-content .dead-container {
    display: none;
  }
}
@media only screen and (min-width: 576px) {
  #overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 5vh 20vw;
    background-color: rgba(0, 0, 0, 0.95);
    display: none;
    z-index: 1;
  }
  #overlay #overlay-content {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: scroll;
    cursor: default;
  }
  #overlay #overlay-content .overlay-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
  }
  #overlay #overlay-content .overlay-row > * {
    padding: 1vw;
  }
  #overlay #overlay-content .content-image {
    width: 180px;
    height: 180px;
    align-self: center;
  }
  #overlay #overlay-content .title-content {
    width: 50%;
    flex-grow: 2;
  }
  #overlay #overlay-content .price-likes-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
  }
  #overlay #overlay-content .price-likes-container .price-container {
    display: flex;
    align-items: flex-start;
  }
  #overlay #overlay-content .price-likes-container .price-container .money-one {
    font-size: 1.5em;
  }
  #overlay #overlay-content .price-likes-container .price-container .money-two {
    font-size: 1em;
    color: #a62091;
  }
  #overlay #overlay-content .price-likes-container .likes-container {
    display: flex;
    align-items: center;
  }
  #overlay #overlay-content .price-likes-container .likes-container img {
    width: 40px;
  }
  #overlay #overlay-content .price-likes-container .likes-container label {
    font-size: 1 em;
    margin-left: 5px;
  }
  #overlay #overlay-content .price-likes-container .likes-container label::after {
    content: " likes";
  }
  #overlay #overlay-content .details,
#overlay #overlay-content .link,
#overlay #overlay-content .dead-container {
    display: inherit;
  }
  #overlay #overlay-content .details {
    margin-bottom: 10px;
  }
  #overlay #overlay-content .details a {
    text-decoration: wavy;
    color: #a62091;
  }
  #overlay #overlay-content .dead-container {
    align-self: flex-start;
    margin-right: 3vw;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
  }
  #overlay #overlay-content .dead-container img {
    width: 30px;
    margin: auto;
  }
  #overlay #overlay-content .dead-container label {
    width: 100%;
    font-size: 0.5em;
    text-align: center;
  }
  #overlay #overlay-content .link {
    flex-grow: 1;
    margin: 0;
    justify-content: center;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #40e0d0 5%, #00a89a 100%);
    background-color: #40e0d0;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-shadow: 0px 1px 0px #3d768a;
    text-align: center;
  }
}
@media only screen and (min-width: 576px) {
  hr {
    display: none;
  }
}
/**
    MOBILE STYLES
*/
@media only screen and (max-width: 575px) {
  .deals-container {
    display: inline-block;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    text-align: center;
    min-height: 0;
    font-size: 1.1em;
  }
  .deals-container .deal-content {
    cursor: default;
    display: block;
    max-height: 200px;
    cursor: pointer;
  }
  .deals-container .deal-content .overlay-row:not(.details) {
    display: flex;
  }
  .deals-container .deal-content .content-image {
    width: 25vw;
    height: 25vw;
    padding-left: 1vw;
  }
  .deals-container .deal-content .title-content {
    width: 75vw;
    padding: 2vw;
    text-align: center;
    overflow: hidden;
  }
  .deals-container .deal-content .title-content .title-text {
    max-height: 105px;
    overflow: scroll;
    margin-bottom: 0;
  }
  .deals-container .deal-content .price-likes-container {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    margin: 1vh 0;
    font-size: 0.8em;
  }
  .deals-container .deal-content .price-likes-container .money-one {
    font-size: 1.5em;
  }
  .deals-container .deal-content .price-likes-container .money-two {
    font-size: 1em;
    margin-left: 5px;
    color: #a62091;
  }
  .deals-container .deal-content .price-likes-container .price-container {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
  }
  .deals-container .deal-content .price-likes-container .likes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.7em;
  }
  .deals-container .deal-content .price-likes-container .likes-container img {
    width: 25px;
  }
  .deals-container .deal-content .price-likes-container .likes-container label {
    margin-left: 5px;
    font-size: 0.8 em;
  }
  .deals-container .deal-content .details,
.deals-container .deal-content .link,
.deals-container .deal-content .dead-container {
    display: none;
  }
  .deals-container hr {
    display: block;
    width: 90vw;
    margin: 2vh 5vw;
  }

  .details {
    display: none;
  }

  #overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    display: none;
    z-index: 1;
    padding: 60px 20px;
  }
  #overlay #overlay-content {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: scroll;
    cursor: default;
  }
  #overlay #overlay-content .overlay-row {
    display: block;
    align-items: center;
  }
  #overlay #overlay-content .overlay-row > * {
    padding: 1vw;
  }
  #overlay #overlay-content .content-image {
    display: block;
    margin: auto;
    width: 180px;
    height: 180px;
  }
  #overlay #overlay-content .title-content {
    width: 100%;
    display: block;
    text-align: center;
  }
  #overlay #overlay-content .price-likes-container {
    display: block;
    text-align: center;
  }
  #overlay #overlay-content .price-likes-container .money-one {
    font-size: 1.5em;
  }
  #overlay #overlay-content .price-likes-container .money-two {
    font-size: 1em;
    color: #a62091;
  }
  #overlay #overlay-content .price-likes-container .price-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  #overlay #overlay-content .price-likes-container .likes-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #overlay #overlay-content .price-likes-container .likes-container img {
    width: 30px;
  }
  #overlay #overlay-content .price-likes-container .likes-container label {
    font-size: 1 em;
    margin-left: 5px;
  }
  #overlay #overlay-content .price-likes-container .likes-container label::after {
    content: " likes";
  }
  #overlay #overlay-content .details,
#overlay #overlay-content .link,
#overlay #overlay-content .dead-container {
    display: inherit;
  }
  #overlay #overlay-content .details {
    margin-bottom: 10px;
    text-align: center;
  }
  #overlay #overlay-content .details a {
    text-decoration: wavy;
    color: #a62091;
  }
  #overlay #overlay-content .dead-container {
    align-self: flex-start;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 0.7em;
    cursor: pointer;
  }
  #overlay #overlay-content .dead-container img {
    width: 20px;
    display: block;
  }
  #overlay #overlay-content .dead-container label {
    width: 100%;
    font-size: 0.5em;
    text-align: center;
  }
  #overlay #overlay-content .link {
    flex-grow: 1;
    margin: 0;
    justify-content: center;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #40e0d0 5%, #00a89a 100%);
    background-color: #40e0d0;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-shadow: 0px 1px 0px #3d768a;
    text-align: center;
  }

  hr {
    display: block;
    width: 90vw;
    margin-left: 5vw;
  }
}

/*# sourceMappingURL=index.css.map */
