.deadDeal {
  display: none;
}

.deadDeal + hr {
  display: none;
}

/**
    DESKTOP STYLES
*/
@media only screen and (min-width: 576px) {
  main {
    margin: 0;
    overflow: hidden;
  }
  main h1 {
    width: 100vw;
    overflow: hidden;
  }

  #overlay {
    width: 100vw;
    overflow: hidden;
  }

  main {
    margin: 0;
    overflow: hidden;
  }
  main h1 {
    width: 100vw;
    overflow: hidden;
  }

  #overlay {
    width: 100vw;
    overflow: hidden;
  }

  .deals-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-template-rows: 350px;
    grid-column-gap: 75px;
    grid-row-gap: 50px;
    justify-content: space-between;
    text-align: center;
    min-height: 75vh;
    cursor: pointer;
  }
}
@media only screen and (min-width: 576px) and (max-width: 650px) {
  .deals-container {
    width: 90vw;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
@media only screen and (min-width: 576px) {
  .deal-content {
    width: 180px;
    max-height: 350px;
  }
  .deal-content * + * {
    text-align: center;
  }
  .deal-content .content-image {
    width: 180px;
    height: 180px;
  }
  .deal-content .title-content {
    overflow: hidden;
    max-height: 130px;
  }
  .deal-content .title-content .title-text {
    max-height: 105px;
    overflow: hidden;
    margin-bottom: 0;
  }
  .deal-content .price-container {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
  }
  .deal-content .price-container .money-one {
    font-size: 1.5em;
  }
  .deal-content .price-container .money-two {
    font-size: 1em;
    margin-left: 5px;
    color: #a62091;
  }
  .deal-content .likes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .deal-content .likes-container img {
    width: 25px;
  }
  .deal-content .likes-container label {
    margin-left: 5px;
    font-size: 0.8 em;
  }
  .deal-content .dead-container {
    display: none;
  }
  .deal-content .vendor {
    width: 100%;
    font-size: 0.7rem;
    margin: auto;
  }
  .deal-content .details,
.deal-content .link {
    display: none;
  }
}
@media only screen and (min-width: 576px) {
  hr {
    display: none;
  }
}
@media only screen and (min-width: 576px) {
  #overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 5vh 20vw;
    background-color: rgba(0, 0, 0, 0.95);
    display: none;
    z-index: 1;
  }
  #overlay #overlay-content {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    overflow: scroll;
    cursor: default;
  }
  #overlay #overlay-content .deal-content {
    width: 100%;
    max-height: initial;
  }
  #overlay #overlay-content .deal-content .grid-row {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  #overlay #overlay-content .deal-content .grid-row > * {
    padding: 1vw;
  }
  #overlay #overlay-content .deal-content .content-image {
    width: 220px;
    height: 220px;
    justify-self: center;
  }
  #overlay #overlay-content .deal-content .title-content {
    width: 50%;
    flex-grow: 2;
    text-align: center;
  }
  #overlay #overlay-content .deal-content .price-likes-dead-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  #overlay #overlay-content .deal-content .price-likes-dead-container .price-container {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
  }
  #overlay #overlay-content .deal-content .price-likes-dead-container .price-container .money-one {
    font-size: 1.5em;
  }
  #overlay #overlay-content .deal-content .price-likes-dead-container .price-container .money-two {
    font-size: 1em;
    color: #a62091;
  }
  #overlay #overlay-content .deal-content .price-likes-dead-container .likes-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  #overlay #overlay-content .deal-content .price-likes-dead-container .likes-container img {
    width: 2vw;
    min-width: 20px;
  }
  #overlay #overlay-content .deal-content .price-likes-dead-container .likes-container label {
    font-size: 1 em;
    margin-left: 5px;
  }
  #overlay #overlay-content .deal-content .price-likes-dead-container .likes-container label::after {
    content: " likes";
  }
  #overlay #overlay-content .deal-content .price-likes-dead-container .dead-container {
    flex-grow: 1;
    display: inline-block;
    flex-grow: 1;
    text-align: center;
    font-size: 0.7em;
    cursor: pointer;
  }
  #overlay #overlay-content .deal-content .price-likes-dead-container .dead-container img {
    width: 1.5vw;
    min-width: 20px;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  #overlay #overlay-content .deal-content .price-likes-dead-container .dead-container label {
    width: 100%;
    display: block;
    font-size: 0.5em;
    text-align: center;
  }
  #overlay #overlay-content .deal-content .price-likes-dead-container .vendor {
    display: none;
  }
  #overlay #overlay-content .deal-content .details,
#overlay #overlay-content .deal-content .link {
    display: inherit;
  }
  #overlay #overlay-content .deal-content .details {
    margin-bottom: 10px;
    background-color: inherit;
  }
  #overlay #overlay-content .deal-content .details a {
    text-decoration: wavy;
    color: #a62091;
    padding: 0;
  }
  #overlay #overlay-content .deal-content .link-container {
    width: 96%;
    margin-left: 2%;
    height: 5vh;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #40e0d0 5%, #00a89a 100%);
    background-color: #40e0d0;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #overlay #overlay-content .deal-content .link-container .link {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #overlay #overlay-content .deal-content hr {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
