@use 'colors' as colors;

.deadDeal {
    display: none;
}
.deadDeal + hr {
    display: none;
}
/**
    DESKTOP STYLES
*/
@media only screen and (min-width: 601px) {


    .deals-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-template-rows: 350px;
        grid-column-gap: 20px;
        grid-row-gap: 65px;
        justify-content: space-between;
        justify-items: center;
        text-align: center;
        min-height: 75vh;
        cursor: pointer;
        overflow:hidden;
    }

    .deal-content {
        width: 180px;
        max-height: 350px;

        * + * {
            text-align: center;
        }
        .content-image {
            width: 180px;
            height: 180px;
        }
        .title-content {
            overflow: hidden;
            max-height: 130px;

            .title-text {
                max-height: 105px;
                overflow: hidden;
                margin-bottom: 0;
            }
        }

        .price-container {
            display: flex;
            justify-content: center;

            .money-one {
                font-size: 1.5em;
            }
            .money-two {
                font-size: 1em;
                margin-left: 5px;
                color: colors.$strikeColor;
            }
        }

        .likes-container {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 25px;
            }
            label {
                margin-left: 5px;
                font-size: 0.8 em;
            }
        }

        .dead-container {
            display: none;
        }
        .date-container{
            display:none;
        }
        @media screen {
            
        }
        .vendor {
            width: 100%;
            font-size: 0.7rem;
            margin: auto;
        }
        .details,
        .link {
            display: none;
        }
    }
    hr {
        display: none;
    }

    // SHOW OVERLAY
    #overlay {


        #overlay-content {
            

            .deal-content {
                width: 100%;
                max-height: initial;

                .grid-row {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-items: center;
                    > * {
                        padding: 1vw;
                    }
                }

                .content-image {
                    width: 220px;
                    height: 220px;
                    justify-self: center;
                }

                .title-content {
                    width: 50%;
                    flex-grow: 2;
                    text-align: center;
                }

                .price-likes-dead-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 100%;

                    .price-container {
                        flex-grow: 1;
                        display: flex;
                        align-items: flex-start;

                        .money-one {
                            font-size: 1.5em;
                        }
                        .money-two {
                            font-size: 1em;
                            color: colors.$strikeColor;
                        }
                    }

                    .likes-container {
                        flex-grow: 1;
                        display: flex;
                        align-items: center;

                        img {
                            width: 2vw;
                            min-width: 20px;
                        }
                        label {
                            font-size: 1 em;
                            margin-left: 5px;
                        }
                        label::after {
                            content: " likes";
                        }
                    }

                    .dead-container {
                        flex-grow: 1;
                        display: inline-block;
                        flex-grow: 1;
                        text-align: center;
                        font-size: 0.7em;
                        cursor: pointer;
                        img {
                            width: 1.5vw;
                            min-width: 20px;
                            margin: 0 auto;
                            display: block;
                            text-align: center;
                        }
                        label {
                            width: 100%;
                            display: block;
                            font-size: 0.5em;
                            text-align: center;
                        }
                    }
                    .vendor {
                        display: none;
                    }
                }

                .details,
                .link {
                    display: inherit;
                }

                .details {
                    margin-bottom: 10px;
                    background-color: inherit;
                    font-size: 0.8em;

                    a {
                        text-decoration: wavy;
                        color: colors.$strikeColor;
                        padding: 0;
                    }
                }
                .link-container {
                    width: 96%;
                    margin-left: 2%;
                    margin-bottom: 20px;
                    height: 5vh;
                    box-shadow: 0px 10px 14px -7px #276873;
                    background: linear-gradient(to bottom, #40e0d0 5%, #00a89a 100%);
                    background-color: #40e0d0;
                    border-radius: 50px;
                    font-weight: bold;
                    text-decoration: none;
                    text-shadow: 0px 1px 0px #3d768a;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .link {
                        color: white;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                hr {
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 600px) {
.date-container{
    display:none !important;
}
}