/**
    MOBILE STYLES
*/
@media only screen and (max-width: 575px) {
  main {
    margin: 0;
    overflow: hidden;
  }
  main h1 {
    width: 100vw;
    overflow: hidden;
  }

  #overlay {
    overflow: hidden;
  }

  .deals-container {
    display: inline-block;
    width: 100vw;
    min-height: 50vh;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
  }
  .deals-container .deal-content {
    min-width: 320px;
    min-height: 120px;
    height: 25vw;
    padding: 0 10px;
    overflow: visible;
  }
  .deals-container .deal-content .content-image {
    width: 25vw;
    height: 25vw;
    padding: 10px;
    float: left;
  }
  .deals-container .deal-content .title-content {
    padding: 10px;
    overflow: hidden;
  }
  .deals-container .deal-content .title-content .title-text {
    overflow: scroll;
    font-size: 0.7rem;
  }
  .deals-container .deal-content .price-likes-dead-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .deals-container .deal-content .price-likes-dead-container > * {
    text-align: center;
  }
  .deals-container .deal-content .price-likes-dead-container .price-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
  }
  .deals-container .deal-content .price-likes-dead-container .price-container .money-one {
    font-size: 0.7rem;
  }
  .deals-container .deal-content .price-likes-dead-container .price-container .money-two {
    font-size: 0.5rem;
    color: #a62091;
  }
  .deals-container .deal-content .price-likes-dead-container .likes-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.5rem;
  }
  .deals-container .deal-content .price-likes-dead-container .likes-container img {
    width: 25px;
  }
  .deals-container .deal-content .price-likes-dead-container .likes-container label {
    font-size: 0.5rem;
  }
  .deals-container .deal-content .price-likes-dead-container .dead-container {
    display: none;
  }
  .deals-container .deal-content .price-likes-dead-container .vendor {
    flex-grow: 1;
    font-size: 0.7rem;
  }
  .deals-container .deal-content .link {
    display: none;
  }
  .deals-container .deal-content .details {
    display: none;
  }
  .deals-container hr {
    display: block;
    width: 90vw;
    margin: 0 5vw;
  }
  .deals-container .deadDeal .dead-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.5rem;
  }
  .deals-container .deadDeal .dead-container img {
    width: 25px;
    margin-right: 1vw;
  }
  .deals-container .deadDeal .dead-container label {
    font-size: 0.5rem;
  }
  .deals-container .deadDeal .vendor {
    display: none;
  }

  #overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    display: none;
    z-index: 1;
    padding: 60px 20px;
  }
  #overlay #overlay-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: scroll;
    cursor: default;
  }
  #overlay #overlay-content .overlay-row {
    display: block;
    height: 100%;
    align-items: center;
  }
  #overlay #overlay-content .overlay-row > * {
    padding: 1vw;
  }
  #overlay #overlay-content .content-image {
    display: block;
    margin: 2vh auto;
    width: 180px;
    height: 180px;
  }
  #overlay #overlay-content .title-content {
    width: 100%;
    display: block;
    text-align: center;
  }
  #overlay #overlay-content .price-likes-dead-container {
    margin: 2vh 1vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #overlay #overlay-content .price-likes-dead-container .price-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  #overlay #overlay-content .price-likes-dead-container .price-container .money-one {
    font-size: 1.5em;
  }
  #overlay #overlay-content .price-likes-dead-container .price-container .money-two {
    font-size: 1em;
    color: #a62091;
  }
  #overlay #overlay-content .price-likes-dead-container .likes-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #overlay #overlay-content .price-likes-dead-container .likes-container img {
    width: 35px;
  }
  #overlay #overlay-content .price-likes-dead-container .likes-container label {
    font-size: 1 em;
    margin-left: 5px;
  }
  #overlay #overlay-content .price-likes-dead-container .dead-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.5rem;
  }
  #overlay #overlay-content .price-likes-dead-container .dead-container img {
    width: 25px;
    margin-right: 1vw;
  }
  #overlay #overlay-content .price-likes-dead-container .dead-container label {
    font-size: 0.5rem;
  }
  #overlay #overlay-content .price-likes-dead-container .vendor {
    display: none;
  }
  #overlay #overlay-content .link-container {
    width: 96%;
    margin-left: 2%;
    height: 5vh;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #40e0d0 5%, #00a89a 100%);
    background-color: #40e0d0;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
  }
  #overlay #overlay-content .link-container .link {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #overlay #overlay-content .details {
    width: 100%;
    min-height: 40vh;
    padding: 2vw;
    display: block;
    text-align: center;
    font-size: 0.8em;
  }
  #overlay #overlay-content .details a {
    text-decoration: wavy;
    color: #a62091;
  }
  #overlay #overlay-content .details p {
    font-size: 0.85em;
  }

  hr {
    display: block;
    width: 90vw;
    margin: 0;
    margin-left: 5vw;
  }
}

/*# sourceMappingURL=mobile.css.map */
