@font-face {
  font-family: indieflower;
  src: url("/fonts/IndieFlower-Regular.ttf");
}
@font-face {
  font-family: amatic;
  src: url("/fonts/AmaticSC-Regular.ttf");
}
@font-face {
  font-family: amatic-bold;
  src: url("/fonts/AmaticSC-Bold.ttf");
}
@font-face {
  font-family: kiwi;
  src: url("/fonts/KiwiMaru-Medium.ttf");
}
body {
  box-sizing: border-box;
  font-family: kiwi, Helvetica, serif;
  margin: 0;
  height: 0px;
}
body * {
  box-sizing: inherit;
}
body > :not(.short_banner):not(footer) {
  margin: auto;
  margin-left: 100vw-min(90vw, 2000px)/2;
  width: 90vw;
  max-width: 2000px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  max-width: 2000px;
  min-width: 600px;
  max-height: 200px;
  min-height: 150px;
  margin-top: 1vh;
  overflow: hidden;
}
header .header-top {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  justify-content: space-between;
}
header .header-top > * {
  margin: 0 0.5vw;
}
header .header-top .header-top-left {
  font-family: indieflower, Helvetica, serif;
  display: flex;
  align-items: center;
}
header .header-top .header-top-left h1 {
  margin: 0;
}
header .header-top .header-top-left img {
  width: 1.75em;
}
header .header-top .header-top-right > * {
  display: inline;
  padding: 0 1vw;
}
header .header-top .header-top-right img {
  width: 0.75em;
}
header .header-top .header-top-right #header_plant {
  margin-right: 2vw;
  width: 3em;
}
header hr {
  height: 1px;
}
header .categories {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 10vh;
  min-height: 30px;
  max-height: 50px;
  align-items: center;
  overflow: hidden;
  font-family: amatic, Helvetica, serif;
  text-align: center;
  white-space: nowrap;
}
header .categories * {
  max-width: 15vw;
  height: 10vh;
  text-align: center;
  color: black;
  font-size: 1.5em;
  margin: 0 30px;
  flex-shrink: 0;
}

.short_banner {
  width: 100vw;
  min-height: 25px;
  background-color: #00a89a;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  padding: 5px;
}

.banner {
  height: 20vh;
  min-height: 150px;
  max-width: 2000px;
  min-width: 600px;
  background-color: purple;
}

main {
  font-size: 0.9em;
  min-height: calc(82vh - 175px );
  max-width: 2000px;
  min-width: 600px;
}

footer {
  background-color: #00a89a;
  width: 100vw;
  height: 150px;
  max-width: 2000px;
  min-width: 600px;
  margin-top: 20px;
  bottom: 0;
}
footer #footer-container-top {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
footer #footer-container-top section > * {
  display: block;
}
footer #footer-container-top h2 {
  font-size: 1em;
}
footer #footer-container-top a {
  font-size: 0.5em;
}
footer #footer-container-bottom {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
footer #footer-container-bottom .logo-container {
  display: flex;
  align-items: center;
  font-family: indieflower, Helvetica, serif;
  margin: auto;
  font-size: 0.75em;
}
footer #footer-container-bottom .logo-container h1 {
  margin: 0;
}
footer #footer-container-bottom .logo-container img {
  width: 2em;
}
footer #footer-container-bottom h3 {
  font-size: 0.6em;
  align-self: flex-end;
  margin: auto;
}

.shake {
  animation: shake 0.35s linear;
}

@keyframes shake {
  20% {
    transform: translateX(-20px);
  }
  40% {
    transform: translateX(20px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

/*# sourceMappingURL=styles.css.map */
