/**
    UNIVERSAL STYLES
*/
@use 'fonts';
@use 'colors' as colors;
::selection {
    background: colors.$color; 
  }
*{
    -webkit-tap-highlight-color: transparent;
}
body {
    box-sizing: border-box;
    font-family: kiwi, Helvetica, serif;
    margin: 0;

    * {
        box-sizing: inherit;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

/**
    DESKTOP STYLES
*/
@media only screen and (min-width: 601px) {
    $viewWidth: 90vw;
    $minWidth: 576px;

    body {
        > :not(.short_banner):not(footer) {
            margin: auto;
            margin-left: (100vw - #{$viewWidth}) / 2;
            width: $viewWidth;
        }
    }

    .deadDeal {
        background-color: colors.$ssTwo;
 
    }

    header {
        min-width: $minWidth;
        margin-top: 1vh;
        overflow: hidden;

        .header-top {
            display: flex;
            align-items: center;
            font-size: 1.5em;
            justify-content: space-between;
            flex-wrap: nowrap;

            > * {
                margin: 0 0.5vw;
            }
            .header-top-left {
                font-family: indieflower, Helvetica, serif;
                display: flex;
                align-items: center;

                h1 {
                    margin: 0;
                }
                img {
                    width: 1.75em;
                }
            }

            .header-top-middle {
                width: 300px;
            }

            .header-top-right {
                display: flex;
                align-items: center;
                > * {
                    display: inline;
                    padding: 0 1vw;
                }
                img {
                    width: 0.75em;
                }
                #header_plant {
                    margin-right: 2vw;
                    width: 3.2vw;
                }
                @media only screen and (max-width: 1600px) {
                    #header_plant {
                        margin-right: 2vw;
                        width: 4.5vw;
                    }
                }
                @media only screen and (max-width: 1000px) {
                    img {
                        display: inline-block;
                    }
                    #header_plant {
                        display: none;
                    }
                }
                @media only screen and (max-width: 850px) {
                    img {
                        display: none;
                    }
                }
            }
        }

        hr {
            height: 1px;
        }

        .show-cat-mobile {
            font-family: amatic, Helvetica, serif;
            display: none;
            span {
                cursor: default;
            }
        }
        .categories {
            width: $viewWidth;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 30px;
            min-height: 30px;
            max-height: 30px;
            align-items: center;
            overflow: hidden;
            font-family: amatic, Helvetica, serif;
            text-align: center;
            white-space: nowrap;

            * {
                max-width: 15vw;
                height: 100%;
                text-align: center;
                color: black;
                font-size: 1.5em;
                margin: 0 30px;
                flex-shrink: 0;
            }
        }
    }

    .short_banner {
        width: 100vw;
        margin-top: 1vh;
        background-color: colors.$color;
        color: white;
        text-align: center;
        font-size: 1.5vw;
        padding: 5px;
    }

    .banner {
        min-width: $viewWidth;
        overflow: hidden;
    }

    main {
        font-size: 0.8em;
        min-width: $minWidth;
        min-height: 85vh;
    }

    footer {
        background-color: colors.$color;
        width: 100vw;
        min-width: $minWidth;
        margin-top: 20px;

        #footer-container-top {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;

            #mobile-selection {
                display: none;
            }

            section > * {
                display: block;
            }

            h2 {
                font-size: 1em;
            }
            a {
                font-size: 0.5em;
            }
            .follow-images {
                display: flex;
                align-items: center;
                margin: 5px;
                img {
                    width: 10px;
                    margin-right: 5px;
                }
            }
        }

        #footer-container-bottom {
            display: flex;
            justify-content: space-around;
            text-align: center;

            .logo-container {
                display: flex;
                align-items: center;
                font-family: indieflower, Helvetica, serif;
                margin: auto;
                font-size: 0.75em;
                h1 {
                    margin: 0;
                }
                img {
                    width: 2em;
                }
            }
            h3 {
                font-size: 0.6em;
                align-self: flex-end;
                margin: auto;
            }
        }
    }
}

/**
    MOBILE STYLES
*/
@media only screen and (max-width: 600px) {
    $mobileHeight: 8vh;

    body {
        > :not(.short_banner):not(footer) {
            margin: 0;
            margin-left: 0;
            width: 100vw;
            max-width: 100vw;
            overflow: hidden;
        }
    }

    .deal-content{
        background-color: white;
    }
    .deadDeal {
        background-color: colors.$ssTwo;
        .dead-container {
            flex-grow: 1;
            display: flex !important;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 0.5rem;

            img {
                width: 20px !important;
                margin-right:1vw;
            }
            label {
                font-size: 0.5rem;
            }
        }
        .vendor {
            display: none;
        }

    }


    #overlay{
        .deal-content{
            background-color: white;
            border-radius: 10px;
        }
        .deadDeal {
            background-color: colors.$ssTwo;
            border-radius: 10px;
        }
    }

    header {
        margin: 0;
        overflow: hidden;

        .header-top {
            display: block;
            > * {
                margin: 0;
            }
            .header-top-left {
                font-family: indieflower, Helvetica, serif;
                display: flex;
                align-items: center;
                justify-content: center;

                h1 {
                    margin: 0;
                }
                img {
                    width: 1.75em;
                }
            }
            .header-top-middle {
                margin: 0 5px;
                overflow: visible;

                #searchbox {
                    width: 96vw;
                }
            }
            .header-top-right {
                display: none;
            }
        }

        hr {
            display: none;
        }

        .show-cat-mobile {
            height: $mobileHeight;
            display: flex;
            align-items: center;
            font-size: 1.5em;
            img {
                width: $mobileHeight * 0.6;
                margin: 0;
                padding: 2px;
            }
        }
        .categories {
            max-height: 0;
            align-items: left;
            overflow: hidden;
            font-family: amatic, Helvetica, serif;
            white-space: nowrap;

            * {
                width:100%;
                height: $mobileHeight * 0.7;
                display: block;
                text-align: left;
                color: black;
                font-size: 1.5em;
                margin: 0 30px;
                flex-shrink: 0;
            }
        }
    }

    .short_banner {
        width: 100vw;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1vh;
        background-color: colors.$color;
        color: white;
        text-align: center;
        font-size: .4em;
        padding: 5px;
    }

    main {
        font-size: 0.9em;
        min-height: 8;
        overflow: hidden;
    }

    footer {
        display: block;
        align-items: center;
        background-color: colors.$color;
        width: 100vw;
        margin-top: 20px;

        #footer-container-top {
            display: block;
            padding: 0;
            text-align: center;

            a {
                font-size: 0.5em;
                margin: 3vw;
            }

            #mobile-selection {
                display: flex;
                cursor: default;
                font-size: 0.7em;
                justify-content: space-evenly;
                align-items: center;
                h2 {
                    margin: 2vw;
                }
            }
            section {
                max-height: 0;
                display: flex;
                visibility: hidden;
                justify-content: space-evenly;

                section > * {
                    display: block;
                }
                h2 {
                    font-size: 1em;
                    display: none;
                }
                a {
                    font-size: 0.5em;
                }
                .follow-images {
                    display: flex;
                    align-items: center;
                    margin: 5px;
                    justify-content: center;
                    img {
                        width: 10px;
                        margin-right: 5px;
                    }
                }
            }
            section .footer-filler {
                display: none;
            }
        }
        #footer-container-bottom {
            display: flex;
            justify-content: space-around;
            text-align: center;
            padding: 10px;

            .logo-container {
                display: flex;
                align-items: center;
                font-family: indieflower, Helvetica, serif;
                margin: auto;
                font-size: 0.75em;
                h1 {
                    margin: 0;
                }
                img {
                    width: 20px;
                }
            }
            h3 {
                font-size: 0.6em;
                align-self: flex-end;
                margin: auto;
            }
        }
    }
}

/**
    ANIMATIONS
    Use regardless of screen size.
*/
.shake {
    animation: shake 0.35s linear;
}
@keyframes shake {
    20% {
        transform: translateX(-20px);
    }
    40% {
        transform: translateX(20px);
    }
    60% {
        transform: translateX(-10px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}

.show {
    visibility: visible;
    animation: show 0.5s linear forwards;
}
@keyframes show {
    from {
        max-height: 0;
        visibility: hidden;
    }
    to {
        max-height: 2000px;
        visibility: visible;
    }
}
.hide {
    visibility: hidden;
    max-height: 0;
}
.unshow {
    visibility: visible;
    animation: unshow 0.25s linear forwards;
}
@keyframes unshow {
    from {
        max-height: 2000px;
    }
    to {
        max-height: 0;
    }
}

.showfootersection {
    visibility: visible !important;
    animation: showfootersection 0.2s linear forwards;
}
@keyframes showfootersection {
    from {
        max-height: 0;
    }
    to {
        max-height: 10vh;
    }
}
.hidefootersection {
    visibility: hidden !important;
    animation: hidefootersection 0.2s linear forwards;
}
@keyframes hidefootersection {
    from {
        max-height: 10vh;
    }
    to {
        max-height: 0;
    }
}
