@use 'fonts';
@use 'colors' as colors;

$viewWidth: 90vw;
$maxWidth: 2000px;
$minWidth: 600px;

body {
    box-sizing: border-box;
    font-family: kiwi, Helvetica, serif;
    margin: 0;
    height:0px;
    * {
        box-sizing: inherit;
    }

    > :not(.short_banner):not(footer) {
        margin: auto;
        margin-left: (100vw - min(#{$viewWidth}, #{$maxWidth})) / 2;
        width: $viewWidth;
        max-width: $maxWidth;
    }

}

a {
    text-decoration: none;
    color:black;
}


header {
    max-width: $maxWidth;
    min-width: $minWidth;
    max-height:200px;
    min-height: 150px;
    margin-top: 1vh;
    overflow:hidden;

    .header-top {
        display: flex;
        align-items: center;
        font-size: 1.5em;
        justify-content: space-between;
        > * {
            margin: 0 0.5vw;
        }
        .header-top-left {
            font-family: indieflower, Helvetica, serif;
            display: flex;
            align-items: center;

            h1 {
                margin: 0;
            }
            img {
                width: 1.75em;
            }
        }
        .header-top-middle {
        }
        .header-top-right {
            > * {
                display: inline;
                padding: 0 1vw;
            }
            img {
                width: .75em;
            }
            #header_plant {
                margin-right: 2vw;
                width: 3em;
            }
        }
    }

    hr {
        height: 1px;
    }

    .categories {
        width: $viewWidth;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 10vh;
        min-height: 30px;
        max-height: 50px;
        align-items: center;
        overflow: hidden;
        font-family: amatic, Helvetica, serif;
        text-align: center;
        white-space: nowrap;

        * {
            max-width: 15vw;
            height: 10vh;
            text-align: center;
            color: black;
            font-size: 1.5em;
            margin: 0 30px;
            flex-shrink: 0;
        }
    }
}

.short_banner {
    width: 100vw;
    min-height:25px;
    background-color: colors.$color;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    padding: 5px;
}

.banner {
    height: 20vh;
    min-height:150px;
    max-width: $maxWidth;
    min-width: $minWidth;
    background-color: purple;
}

main {
    font-size: 0.9em;
    min-height:calc(#{82vh} - #{175px} );
    max-width: $maxWidth;
    min-width: $minWidth;
}

footer{
    background-color:colors.$color;
    width:100vw;
    height:150px;
    max-width: $maxWidth;
    min-width: $minWidth;
    margin-top:20px;
    bottom:0;
    // overflow:hidden;

    #footer-container-top{
        display:flex;
        justify-content: space-between;
        padding:0 20px;   
        
        section > * {
            display:block;
        }

        h2{
            font-size:1em;
        }
        a{
            font-size:.5em;
        }
    }

    #footer-container-bottom{

        display:flex;
        justify-content:space-around;
        text-align: center;

        .logo-container{
            display: flex;
            align-items: center;
            font-family: indieflower, Helvetica, serif;
            margin:auto;
            font-size:.75em;
            h1 {
                margin: 0;
            }
            img {
                width: 2em;
            }
        }
        h3{
            font-size: .6em;
            align-self:flex-end;
            margin:auto;
        }
    }

}

.shake{
animation: shake .35s linear;
    
}
// animation-name animation-duration animation-timing-function animation-delay animation-iteration-count animation-direction animation-fill-mode
@keyframes shake {
  20% {transform:translateX(-20px);}
  40%  {transform:translateX(20px);}
  60% {transform:translateX(-10px);}
  80% {transform:translateX(10px);}
  100% {transform:translateX(0px);}
  }