@charset "UTF-8";
@font-face {
  font-family: indieflower;
  src: url("/fonts/IndieFlower-Regular.ttf");
}
@font-face {
  font-family: amatic;
  src: url("/fonts/AmaticSC-Regular.ttf");
}
@font-face {
  font-family: amatic-bold;
  src: url("/fonts/AmaticSC-Bold.ttf");
}
@font-face {
  font-family: kiwi;
  src: url("/fonts/KiwiMaru-Medium.ttf");
}
/**
    VARS
*/
/**
    UNIVERSAL STYLES
*/
::selection {
  background: #00a89a;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  box-sizing: border-box;
  font-family: kiwi, Helvetica, serif;
  margin: 0;
  overflow-x: hidden;
}
body * {
  box-sizing: inherit;
}
body a {
  text-decoration: none;
  color: black;
}

/**
    DESKTOP STYLES
*/
@media only screen and (min-width: 601px) {
  body > :not(#short_banner):not(footer):not(#overlay) {
    width: 90vw;
    margin: auto;
  }

  #overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 10vw;
    background-color: rgba(0, 0, 0, 0.95);
    display: none;
    z-index: 1;
    overflow: scroll;
  }
  #overlay #overlay-content {
    padding: 5vw;
    background: white;
    border-radius: 10px;
  }

  header {
    min-width: 601px;
    margin-top: 1vh;
    overflow: hidden;
  }
  header .header-top {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  header .header-top > * {
    margin: 0 0.5vw;
  }
  header .header-top .header-top-left {
    font-family: indieflower, Helvetica, serif;
    display: flex;
    align-items: center;
  }
  header .header-top .header-top-left h1 {
    margin: 0;
  }
  header .header-top .header-top-left img {
    width: 1.75em;
  }
  header .header-top .header-top-middle {
    width: 300px;
  }
  header .header-top .header-top-right {
    display: flex;
    align-items: center;
  }
  header .header-top .header-top-right > * {
    display: inline;
    padding: 0 1vw;
  }
  header .header-top .header-top-right img {
    width: 0.75em;
  }
  header .header-top .header-top-right #header_plant {
    margin-right: 2vw;
    width: 3.2vw;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1600px) {
  header .header-top .header-top-right #header_plant {
    margin-right: 2vw;
    width: 4.5vw;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1000px) {
  header .header-top .header-top-right img {
    display: inline-block;
  }
  header .header-top .header-top-right #header_plant {
    display: none;
  }
}
@media only screen and (min-width: 601px) and (max-width: 850px) {
  header .header-top .header-top-right img {
    display: none;
  }
}
@media only screen and (min-width: 601px) {
  header hr {
    height: 1px;
  }
}
@media only screen and (min-width: 601px) {
  header .show-cat-mobile {
    font-family: amatic, Helvetica, serif;
    display: none;
  }
  header .show-cat-mobile span {
    cursor: default;
  }
}
@media only screen and (min-width: 601px) {
  header .categories {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: inherit;
    max-height: 30px;
    align-items: center;
    overflow: hidden;
    font-family: amatic, Helvetica, serif;
    text-align: center;
    white-space: wrap;
  }
  header .categories * {
    height: 100%;
    text-align: center;
    color: black;
    font-size: 1.5em;
    margin: 0 15px 30px;
    flex-shrink: 0;
  }
  header .categories #allDealsOption {
    cursor: pointer;
  }
}
@media only screen and (min-width: 601px) {
  #short_banner {
    width: 100vw;
    margin-top: 1vh;
    background-color: #00a89a;
    color: white;
    text-align: center;
    font-size: 1.5vw;
    padding: 5px;
  }
}
@media only screen and (min-width: 601px) {
  #short_banner::after {
    content: ".";
    animation: banner_text 30s linear infinite;
  }
}
@media only screen and (min-width: 601px) and (min-width: 1000px) {
  #short_banner {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 601px) {
  #banner {
    width: 80%;
    max-width: 900px;
    overflow: hidden;
  }
  #banner #banner-scroller {
    width: 400%;
    display: flex;
    overflow: hidden;
    animation: banner-scroll 30s linear infinite;
  }
  #banner #banner-scroller .banner-item {
    width: 100%;
  }
  #banner #banner-scroller .banner-item a img {
    width: 100%;
  }
}
@media only screen and (min-width: 601px) {
  main {
    font-size: 0.8em;
    min-width: 601px;
    min-height: 85vh;
    overflow: hidden;
  }
}
@media only screen and (min-width: 601px) {
  footer {
    background-color: #00a89a;
    width: 100%;
    min-width: 601px;
    margin-top: 20px;
  }
  footer #footer-container-top {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  footer #footer-container-top #mobile-selection {
    display: none;
  }
  footer #footer-container-top section > * {
    display: block;
  }
  footer #footer-container-top h2 {
    font-size: 1em;
  }
  footer #footer-container-top a {
    font-size: 0.5em;
  }
  footer #footer-container-top .follow-images {
    display: flex;
    align-items: center;
    margin: 5px;
  }
  footer #footer-container-top .follow-images img {
    width: 10px;
    margin-right: 5px;
  }
  footer #footer-container-bottom {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  footer #footer-container-bottom .logo-container {
    display: flex;
    align-items: center;
    font-family: indieflower, Helvetica, serif;
    margin: auto;
    font-size: 0.75em;
  }
  footer #footer-container-bottom .logo-container h1 {
    margin: 0;
  }
  footer #footer-container-bottom .logo-container img {
    width: 2em;
  }
  footer #footer-container-bottom h3 {
    font-size: 0.6em;
    align-self: flex-end;
    margin: auto;
  }
}
/**
    ANIMATIONS
    Use regardless of screen size.
*/
.shake {
  animation: shake 0.35s linear;
}

@keyframes shake {
  20% {
    transform: translateX(-20px);
  }
  40% {
    transform: translateX(20px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
.show {
  animation: show 1s linear forwards;
}

@media only screen and (max-width: 600px) {
  @keyframes show {
    from {
      max-height: 0px;
    }
    to {
      max-height: 2000px;
    }
  }
}
@media only screen and (min-width: 601px) {
  @keyframes show {
    from {
      max-height: 30px;
    }
    to {
      max-height: 2000px;
    }
  }
}
.hide {
  visibility: hidden;
}

.unshow {
  animation: unshow 0.25s ease-out forwards;
}

@media only screen and (max-width: 600px) {
  @keyframes unshow {
    from {
      max-height: 2000px;
    }
    to {
      max-height: 0px;
    }
  }
}
@media only screen and (min-width: 601px) {
  @keyframes unshow {
    from {
      max-height: 2000px;
    }
    to {
      max-height: 30px;
    }
  }
}
.showfootersection {
  animation: showfootersection 0.2s linear forwards;
  visibility: visible !important;
}

@keyframes showfootersection {
  0% {
    max-height: 0;
    visibility: hidden !important;
  }
  10% {
    visibility: visible !important;
  }
  100% {
    max-height: 10vh;
    visibility: visible !important;
  }
}
.hidefootersection {
  animation: hidefootersection 0.2s linear forwards;
  visibility: hidden !important;
}

@keyframes hidefootersection {
  0% {
    max-height: 10vh;
    visibility: visible !important;
  }
  10% {
    visibility: hidden !important;
  }
  100% {
    max-height: 0;
    visibility: hidden !important;
  }
}
@keyframes banner_text {
  0% {
    content: "Your stop for all of the internets daily deals. In one place.";
    color: white;
  }
  33% {
    content: "Your stop for all of the internets daily deals. In one place.";
    color: white;
  }
  34% {
    color: transparent;
  }
  35% {
    content: "Hurry, flash deals go quick... like two ships passing in the night.";
    color: white;
  }
  64% {
    content: "Hurry, flash deals go quick... like two ships passing in the night.";
    color: white;
  }
  65% {
    color: transparent;
  }
  66% {
    content: "Click the banner for deals that go down when the sun goes down 🌇";
    color: white;
  }
  99% {
    content: "Click the banner for deals that go down when the sun goes down 🌇";
    color: white;
  }
  100% {
    color: transparent;
  }
}
@keyframes banner-scroll {
  0% {
    margin-left: 0%;
  }
  34% {
    margin-left: 0%;
  }
  35% {
    margin-left: -100%;
  }
  65% {
    margin-left: -100%;
  }
  66% {
    margin-left: -200%;
  }
  99% {
    margin-left: -200%;
  }
  100% {
    margin-left: -300%;
  }
}

/*# sourceMappingURL=styles.css.map */
