<style>
.daily-container{
    font-size:12pt;
}

</style>
<ul>
<li><a href="https://www.amazon.com/Marvel-Studios-Iron-Man-UHD/dp/B07VHL1L8V?tag=vamplitude-20" target="_blank">Iron Man (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Marvel-Studios-Iron-Man-UHD/dp/B07VFKMSC7?tag=vamplitude-20" target="_blank">Iron Man 2 (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Marvel-Studios-Iron-Man-UHD/dp/B07VGNTNV7?tag=vamplitude-20" target="_blank">Iron Man 3 (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Marvel-Studios-Captain-America-Avenger/dp/B07N6MK4K8?tag=vamplitude-20" target="_blank">Captain America: The First Avenger (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Marvel-Studios-Captain-America-Soldier/dp/B07Q2CM8M7?tag=vamplitude-20" target="_blank">Captain America: The Winter Soldier (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Marvel-Studios-Captain-America-Civil/dp/B07Q4FGQ9Y?tag=vamplitude-20" target="_blank">Captain America: Civil War (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Marvel-Studios-Doctor-Strange-UHD/dp/B07YF3B4JJ?tag=vamplitude-20" target="_blank">Doctor Strange (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Marvel-Studios-Avengers-4K-UHD/dp/B07FYWR1LZ?tag=vamplitude-20" target="_blank">The Avengers (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Marvel-Studios-Avengers-Age-Ultron/dp/B07FYVDCX7?tag=vamplitude-20" target="_blank">Avengers: Age of Ultron (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Marvels-Avengers-Infinity-War-UHD/dp/B07FYXNDGN?tag=vamplitude-20" target="_blank">Avengers: Infinity War (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Marvel-Studios-Avengers-Endgame-UHD/dp/B07VBB6WLL?tag=vamplitude-20" target="_blank">Avengers: Endgame (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Marvel-Studios-Thor-4K-UHD/dp/B07VFKNP7L?tag=vamplitude-20" target="_blank">Thor (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Marvel-Studios-Thor-Dark-World/dp/B07VBB6QMW?tag=vamplitude-20" target="_blank">Thor: The Dark World (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Thor-Ragnarok-Test-Chris-Hemsworth/dp/B079VTRS8Z?tag=vamplitude-20" target="_blank">Thor: Ragnarok (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Marvel-Studios-Ant-Man-4K-UHD/dp/B07YF41VM3?tag=vamplitude-20" target="_blank">Ant-Man (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Ant-Man-Wasp-UHD-Paul-Rudd/dp/B07HNCPZFK?tag=vamplitude-20" target="_blank">Ant-Man and the Wasp (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Marvel-Studios-Captain-4K-UHD/dp/B07S9GY8GH?tag=vamplitude-20" target="_blank">Captain Marvel (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Black-Panther-UHD-Chadwick-Boseman/dp/B07CSKDGFF?tag=vamplitude-20" target="_blank">Black Panther (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Marvel-Studios-Guardians-Galaxy-UHD/dp/B07YGRVW2D?tag=vamplitude-20" target="_blank">Guardians of the Galaxy (4K UHD) $7.99</a></li>
<li><a href="https://www.amazon.com/Marvel-Studios-Guardians-Galaxy-Vol/dp/B07N6P3GMV?tag=vamplitude-20" target="_blank">Guardians of the Galaxy Vol. 2 (4K UHD) $7.99</a></li>
</ul>