<style>
.daily-container{
    font-size:12pt;
    
}
.daily-container li{
    margin:5px;
}

</style>
<h3>        <a href="https://bestbuy.7tiv.net/6bAVam" target="_blank">Hyperice - Hypervolt Plus (Bluetooth) Percussion Massage Device - Black - $200 + free shipping</a>
</h3>
<ul>
    
        Deal Instructions:
        <li><a href="https://bestbuy.7tiv.net/a15ryo" style="font-weight: bold;color:#00a89a;">Click here to log in to your Best Buy Student account</a> (or enroll for free if you're not already a member).</li>
            <li><a href="https://bestbuy.7tiv.net/6bAVam" style="font-weight: bold;color:#00a89a;">Click here</a> to view the product page</li>
                <li>On the product page, check the box next to "Save $150 with your Student Deal."</li>
                    <li>Add to cart.</li>
                        <li>Price will be $349.99 - $150 w/ Student Deal = $199.99 w/ free shipping.</li>
                            <li>Proceed to checkout and complete your order.</li>
    </li>
</ul>
<div style="display:inline">
     <a href="https://bestbuy.7tiv.net/6bAVam" target="_blank"><img src="img/temp/temp1.jpeg" style="height:150px;"/></a>
     <a href="https://bestbuy.7tiv.net/6bAVam" target="_blank"><img src="img/temp/temp3.jpeg" style="height:150px;"/></a>
     <a href="https://bestbuy.7tiv.net/6bAVam" target="_blank"><img src="img/temp/temp4.jpeg" style="height:150px;"/></a>
     <a href="https://bestbuy.7tiv.net/6bAVam" target="_blank"><img src="img/temp/temp5.jpeg" style="height:150px;max-width:300px;"/></a>
     <a href="https://bestbuy.7tiv.net/6bAVam" target="_blank"><img src="img/temp/temp6.jpeg" style="height:150px;"/></a>
</div>

