<style>
.daily-container{
    font-size:12pt;
    
}
.daily-container li{
    margin:5px;
}

</style>
<ul>
    <li>
        <a href="https://bestbuy.7tiv.net/6bAVam" target="_blank">Hyperice - Hypervolt Plus (Bluetooth) Percussion Massage Device - Black - $200 + free shipping</a>
    </li>
</ul>
<div style="display:inline">
     <a href="https://bestbuy.7tiv.net/6bAVam" target="_blank"><img src="img/temp/temp1.jpeg" style="height:150px;"/></a>
     <a href="https://bestbuy.7tiv.net/6bAVam" target="_blank"><img src="img/temp/temp3.jpeg" style="height:150px;"/></a>
     <a href="https://bestbuy.7tiv.net/6bAVam" target="_blank"><img src="img/temp/temp4.jpeg" style="height:150px;"/></a>
     <a href="https://bestbuy.7tiv.net/6bAVam" target="_blank"><img src="img/temp/temp5.jpeg" style="height:150px;max-width:300px;"/></a>
     <a href="https://bestbuy.7tiv.net/6bAVam" target="_blank"><img src="img/temp/temp6.jpeg" style="height:150px;"/></a>
</div>

